

.button {
  background-color: #0075FF;
  font-size: .9em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  border-radius: .5em;
  color: #fff;
  font-weight: 800;
}